table {
    width: 100%;
  }
th {
  font-weight: normal;
}

h3, h4 {
  font-weight: bold;
}

h1 {
  font-weight: bolder;
}

.col-7 {
  flex: 0 0 auto;
  width: 20%;
}

.example-button {
  display: block;
  margin-bottom: 0.5rem;
}

.texto {
  font-size: 12px;
}

.color {
  color: rgb(116, 51, 38);
}