<div class="container" *ngIf="registro === true; else elseBlock">
    <h1 class="text-center mt-4 color">REGISTRATE</h1>
    <form [formGroup]="this.form" class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Nombre *</mat-label>
                    <input type="text" matInput formControlName="nombre">
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" *ngIf="this.form.get('nombre')?.errors && this.form.get('nombre')?.dirty">
                <p *ngIf="this.form.get('nombre')?.hasError('required')" class="text-danger text-center">*El campo es obligatorio</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Apellido *</mat-label>
                    <input matInput formControlName="apellido">
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" *ngIf="this.form.get('apellido')?.errors && this.form.get('apellido')?.dirty">
                <p *ngIf="this.form.get('apellido')?.hasError('required')" class="text-danger text-center">*El campo es obligatorio</p>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select formControlName="tipo_documento" name="t">
                        <mat-option *ngFor="let t of tipos" [value]="t">
                          {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
            
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Número de documento</mat-label>
                    <input matInput formControlName="num_documento">
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" *ngIf="this.form.get('num_documento')?.errors && this.form.get('num_documento')?.dirty">
                <p *ngIf="this.form.get('num_documento')?.hasError('minlength')" class="text-danger text-center">El campo debe tener 6 caracteres como mínimo</p>
                <p *ngIf="this.form.get('num_documento')?.hasError('maxlength')" class="text-danger text-center">El campo debe tener 9 caracteres como máximo</p>
            </div>
        </div>
        
        
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Fecha de nacimiento *</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" *ngIf="this.form.get('fecha_nacimiento')?.errors && this.form.get('fecha_nacimiento')?.dirty">
                <p *ngIf="this.form.get('fecha_nacimiento')?.hasError('required')" class="text-danger text-center">*El campo es obligatorio</p>
            </div>
        </div>
            
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Número de celular *</mat-label>
                    <input matInput formControlName="celular">
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" *ngIf="this.form.get('celular')?.errors && this.form.get('celular')?.dirty">
                <p *ngIf="this.form.get('celular')?.hasError('required')" class="text-danger text-center">*El campo es obligatorio</p>
                <p *ngIf="this.form.get('celular')?.hasError('pattern')" class="text-danger text-center">*Debe ingresar un número de celular válido</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-group example-full-width">
                    <label for="avatar" class="adjuntar">Foto *</label>
                    <input
                      type="file"
                      id="avatar"
                      formControlName="avatar"
                      class="form-control"
                      (change)="onFileSelected($event)"
                    />
                  </div>
                  <div class="col-3" *ngIf="previewUrl">
                    <img [src]="previewUrl" style="width: 250px; height: auto;" />
                  </div>
            </div>
        </div>
        
                    
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Correo electrónico *</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" *ngIf="this.form.get('email')?.errors && this.form.get('email')?.dirty">
                <p *ngIf="this.form.get('email')?.hasError('required')" class="text-danger text-center">*El campo es obligatorio</p>
                <p *ngIf="this.form.get('email')?.hasError('email')" class="text-danger text-center">*Debe ingresar una dirección de correo electrónico válida</p>
            </div>
        </div>
            
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Contraseña *</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6" *ngIf="this.form.get('password')?.errors && this.form.get('password')?.dirty">
                <p *ngIf="this.form.get('password')?.hasError('required')" class="text-danger text-center">*El campo es obligatorio</p>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-6">
                <button mat-raised-button color="primary" class="example-full-width fondo" (click)="submit()">Enviar</button>
            </div>    
        </div>            
    </form>
</div>

<ng-template #elseBlock class="mt-5">
    <div class="container justify-content-center mt-5">
        <div class="row justify-content-center">
            <div class="col-6 justify-content-center">
                <h3>Registro realizado con éxito, revisá tu casilla de correo electrónico para terminar el proceso.</h3>
            </div>
        </div>
    </div>
</ng-template>