table {
    width: 100%;
  }

h3 {
  font-weight: bold;
  color: rgb(116, 51, 38);
}

h1 {
  font-weight: bolder;
  color: rgb(116, 51, 38);
}

.col-7 {
  flex: 0 0 auto;
  width: 20%;
}

.example-button {
  display: block;
  margin-bottom: 0.5rem;
}

.icono {
  margin-bottom: 1.8rem;
  color: rgb(116, 51, 38);
}

.color {
  color: rgb(116, 51, 38);
}