<div class="container-fluid mt-5">
    <div class="row fondo pt-5 justify-content-end">
        <div class="col-3 mb-4 justify-content-start">
            <span class="row justify-content-end mr-5">
                <img src="../../../assets/icons/ig.png" alt="" class="w-6 blanco">
                <p class="d-inline ml-2 blanco">/usuarioig</p>
            </span>

            <span class="row justify-content-end mr-5">
                <img src="../../../assets/icons/mail.png" alt="" class="w-6 blanco">
                <p class="d-inline ml-2 blanco">usuario@correo.com</p>
            </span>

            <span class="row justify-content-end mr-5">
                <img src="../../../assets/icons/location.png" alt="" class="w-6 blanco">
                <p class="d-inline ml-2 blanco">Provincia de Buenos Aires</p>
            </span>

            <span class="row justify-content-end mr-5">
                <button mat-button (click)="loginAdmin()" class="boton">Login administrador</button>
            </span>
        </div>
    </div>
</div>