<h1 class="text-center mt-4">Accediste al sistema {{nombre}}</h1>

<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <mat-list class="justify-content-center">
                <mat-list-item class="justify-content-center">
                    <div class="example-button-row">
                        <button mat-button (click)="clases()">
                            <mat-icon mat-list-icon style="color: rgb(100, 100, 100); display: inline;">label_important</mat-icon>
                            <div mat-line style="display: inline;">Clases</div>
                        </button>
                    </div>
                </mat-list-item>
                    
                <mat-list-item class="justify-content-center">
                    <div class="example-button-row">
                        <button mat-button (click)="inscriptos()">
                            <mat-icon mat-list-icon style="color: rgb(100, 100, 100); display: inline;">label_important</mat-icon>
                            <div mat-line style="display: inline;">Inscriptos</div>
                        </button>
                    </div>
                </mat-list-item>

                <mat-list-item class="justify-content-center">
                    <div class="example-button-row">
                        <button mat-button (click)="precios()">
                            <mat-icon mat-list-icon style="color: rgb(100, 100, 100); display: inline;">label_important</mat-icon>
                            <div mat-line style="display: inline;">Precios</div>
                        </button>
                    </div>
                </mat-list-item>
                    
                <mat-list-item class="justify-content-center">
                    <div class="example-button-row">
                        <button mat-button (click)="profile()">
                            <mat-icon mat-list-icon style="color: rgb(100, 100, 100); display: inline;">label_important</mat-icon>
                            <div mat-line style="display: inline;">Perfil</div>
                        </button>
                    </div>
                </mat-list-item>   
            </mat-list>
        </div>
    </div>
</div>



